.header {
  font: 600 32px 'Roboto';
}

.mainBlock {
  display: flex;
  flex-wrap: wrap;
}

.left {
  box-sizing: border-box;
  width: 50%;
  padding-right: 25px;
  border-right: 1px solid rgb(212, 212, 212);
}

.right {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: calc(100vh - 148px);
  padding-left: 25px;
}

.textarea {
  width: 100%;
}

.inputFile {
  display: none;
}

.buttonBlock {
  display: flex;
  margin-top: 20px;
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.paramDescr {
  font: 400 18px/22px 'Roboto';
}

.paramError {
  color: red;
  font: 400 18px/30px 'Roboto';
}

.paramInput {
  width: 100%;
}

.statsBlockHeader {
  font: 500 24px/30px 'Roboto';
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.statsListHeader {
  font: 500 18px/30px 'Roboto';
  margin-bottom: 10px;
}

.statsListHeaderItem {
  width: 33.33%;
  display: inline-block;
}

.statsBlock {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 25px;
  right: 0;
  overflow: auto;
}

.statsItem {
  font: 300 16px 'Roboto';
}

.statsItem:not(:last-child) {
  margin-bottom: 10px;
}

.statsItemValue {
  display: inline-block;
  width: 33.33%;
}

.statsItemValue_name {
  font-weight: 500;
}
