.header {
  font: 600 32px 'Roboto';
}

.mainBlock {
  display: flex;
  flex-wrap: wrap;
}

.left {
  box-sizing: border-box;
  width: 50%;
  padding-right: 25px;
  border-right: 1px solid rgb(212, 212, 212);
}

.right {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: calc(100vh - 148px);
  padding-left: 25px;
}

.textarea {
  width: 100%;
}

.buttonBlock {
  display: flex;
  margin-top: 20px;
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.paramDescr {
  font: 400 18px/22px 'Roboto';
}

.paramError {
  color: red;
  font: 400 18px/30px 'Roboto';
}

.paramInput {
  width: 100%;
}

.categoryBlockHeader {
  font: 500 24px/30px 'Roboto';
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.categoryBlock {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 25px;
  right: 0;
  overflow: auto;
}

.categoryHeader {
  font: 400 24px/30px 'Roboto';
  display: flex;
}

.categoryName {
  display: inline-block;
  flex-grow: 1;
}

.categoryValue {
  display: inline-block;
  width: 100px;
}

.categoryButtonText {
  font: 300 20px 'Roboto';
}

.paramsBlock {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.param {
  font: 300 16px 'Roboto';
  display: inline-block;
  box-sizing: border-box;
}

.param:not(:last-child) {
  padding-right: 10px;
}

/* @media screen and (max-width: 1322px) {
  .parameters {
    margin: 0;
  }

  .stats {
    height: auto;
    border: none;
    padding: 0;
  }

  .statsList {
    position: static;
  }

  .left {
    width: 100%;
    margin: 0;
  }

  .textarea {
    width: 100%;
  }

  .parameters {
    width: 100%;
  }
} */
